.main-div {
  width: 50%;
  margin: 50px;
}

.child-div {
  background-color: gainsboro;
  padding: 2%;
}

.child-div .icon {
  width: 100%;
  float: left;
  background: #33cccc;
  padding: 8px;
  margin-bottom: 10px;
}

.child-div .fa-list {
  padding-right: 10px;
}

.addItems {
  color: #aaa;
  font-size: 16px;
}

.input-element {
  position: relative;
}

.addItems input {
  width: 100%;
  height: 42px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.addItems input {
  text-indent: 1em;
}

.addItems .fa-plus {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.showItems {
  background-color: cadetblue;
  color: rgba(19, 5, 85, 0.842);
  font-size: 16px;
  margin: 20px;
  border-radius: 15px;
}
.eachItems {
  position: relative;
  border: 1px solid #ebebeb;
}
.showItems h3 {
  width: 90%;
  height: 30px;
  text-indent: 1em;
  font-size: 15px;
}

.showItems .fa-trash-alt {
  width: 10%;
  position: absolute;
  padding: 18px;
  top: 0;
  right: 10px;
  bottom: 0;
}
